beautifulsoup4==4.12.2
html5lib==1.1
lxml==4.9.3
numpy==1.26.1
pandas==2.1.1
geopandas==0.14.0
matplotlib==3.8.0
osmnx==1.7.0
pip==23.3
python-dateutil==2.8.2
pytz==2023.3.post1
pytest==7.4.2
pytest-timeout==2.2.0
setuptools==68.2.2
six==1.16.0
soupsieve==2.5
tzdata==2023.3
webencodings==0.5.1
wheel==0.41.2
